@model FSE.CounsumeAPI.ResponseModel.ProductResponseModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Yeni Urun Ekle</title>
</head>
<body>
    @{ 
        if (TempData["errorMessage"]!=null)
        {
            <p style="=color:red">
                @TempData["errorMessage"]?.ToString();
            </p>
        }
    }
    <h1>Urun Ekle</h1>
    <form asp-action="Create" asp-controller="Home" method="post">
        <label>Urun Adi:</label>
        <input type="text" asp-for="@Model.Name" />
        <br />
        <hr />
        <label>Urun Fiyati:</label>
        <input asp-for="@Model.Price" />
        <br />
        <hr />
        <label>Urun Stogu:</label>
        <input asp-for="@Model.Stock" />
        <br />
        <hr />

        <div>
            <a asp-action="Index" asp-controller="Home">Geri Don</a>
            <button type="submit">Gonder</button>
        </div>

    </form>
</body>
</html>